*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Source Code Pro", monospace;
}
.Login{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bac6ba;
  transition: 0.5s ease-in-out;
}

.center{
  width:60%;
  height: 80%;
  display:flex;
  flex-direction: column;
  border: 3px solid #fff;
  background: transparent;
  border-radius: 12px;
}

.dots{
  width:99.2%;
  display:flex;
padding:7px 0;
padding-left:10px;
}

.dot{
  width:7px;
  height: 7px;
  border-radius: 50%;
  margin-left:5px;
  background-color: #fff;
  
}

.info{
  width:100%;
  height:98%;
display:flex;
}

.left{
  width:50%;
  height:100%;
  background-color: #fff;
  border-bottom: 3px solid #fff;
}

.left h2{
  font-size:17px;
  font-weight: 900;
  margin-left: 20px;
  margin-top:10px;
}
.form{
  margin-top:22%;
  margin-left:15%;
  display:flex;
  flex-direction:column;
width:60%
}

.form h1{
  font-size:22px;
  font-weight:500;
  /* margin-left: 60px; */
  text-align: center;
  
}
.form p{
  font-size: 11px;
  text-align: center;
  font-weight: 600;
  color: #202f1f;
  margin-bottom:20px;
}
.form label{
  font-size: 12px;
  margin-bottom: 7px;
  font-weight: 600;
}
.input{
  padding: 7px;
  border-radius: 7px;
  border: 1px solid #d8e9d7;
  outline: #74ae71;
  margin-bottom: 7px;
}

.add{
  width:100%;
  display: flex;
  justify-content: space-between;
}
.add a{
  font-size:11px;
  text-decoration: none;
  color: #466544;
  font-weight: 500;
}
.rem{
  display: flex;
  height: 12px;
}
.rem input{
  margin-top: 2px;
  margin-right:3px;
}
.rem p{
  font-size:11px;
}
.form button{
  background-color:#447e40;
  color:#fff;
  padding: 7px;
  border-radius: 7px;
  border: none;
  margin: 20px 0;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: 2px solid #447e40;
}

.form button:hover{
  background-color: #fff;
  color: #447e40;
}
.sign a{
  color:green;
  text-decoration:none;
}
.right, .right2{
  width:50%;
  height:100%;
  background-color: #d8e9d7;
  background: url(./images/right2.jpeg);
  background-size: cover;
  border-top: 3px solid #fff;
  border-bottom-right-radius: 12px;
  /* border-bottom: 3px solid #fff; */
}

@media(max-width: 1024px){
  .center{
    width:90%;
    height:max-content;
  }
  .right {
    height: 427px;
  }
  .right2{
    height: 473px;
  }
}

@media(max-width:768px){
  body{
    font-size: 16px;
  }
.center{
  height:max-content;
}


.form{
  width: 100%;
  height:97%;
  margin-left:5px;
margin-top:10%;
}
  .left{
    width:100%;
    height: 100%;
    border-radius: 0 0 12px 12px;
  }
  .left h2{
    margin-top: 20%;
  }
  .form button{
    width:90%;
  }
  .left h2{
    text-align: center;
  }
  .input{
    width:85%;
  }
  .add{
    width:90%;
    flex-direction: column;
  }
  .rem{
    width: 100%;
    margin-bottom: 20px;
  }
  .sign p{
    display: flex;
    flex-direction: column;
  }
  .right, .right2{
    display:none;
  }


}
